
#french-news {
    position: relative;
    top: -100px;
	width: 80vw;
	margin: auto;
	text-align: left;
    display: flex;
    flex-direction: row;
}

#french-news-logo {
    background-image: url('images/le-monde-logo-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: -0.5rem;
    width: 28%;
    height: auto;
    flex-shrink: 1;
    opacity: 0.5;
}

#french-news-content {
    padding-top: 25px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 72%;
    height: auto;
}

#french-news-title {
    display: block;
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
}

#french-news-description {
    padding-top: 10px;
}

#idf-mobilite {
    text-align: left;
    width: 80vw;
    margin: auto;
}

#idf-mobilite ul,
#idf-mobilite ul li {
    padding: 0;
    margin: 0;
}

.idf-mob-section {
    list-style: none;
}

.semi-medium {
  font-size: var(--font-size-semi-medium);
  line-height: 1.125;
}

.semi-thin {
  font-family: var(--font-primary), sans-serif;
  font-weight: 200;
}
